USE [QuanLyPhongTro]
GO
/****** Object:  Table [dbo].[NguoiThue]    Script Date: 5/29/2026 6:28:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiThue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [nvarchar](100) NOT NULL,
	[PhongSoHuu] [int] NULL,
	[NgayNhanPhong] [date] NULL,
	[MatKhau] [nvarchar](255) NULL,
	[Role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongTro]    Script Date: 5/29/2026 6:28:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongTro](
	[Id] [int] NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[NguoiSoHuuId] [int] NULL,
	[LuongNuoc] [float] NULL,
	[LuongDien] [float] NULL,
	[TienHangThang] [decimal](18, 0) NULL,
	[TongTien]  AS (([LuongNuoc]*(2500)+[LuongDien]*(3500))+[TienHangThang]),
	[TienDatCoc] [decimal](18, 0) NULL,
	[TinhTrangDongTien] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NguoiThue] ON 

INSERT [dbo].[NguoiThue] ([Id], [TenNguoiDung], [PhongSoHuu], [NgayNhanPhong], [MatKhau], [Role]) VALUES (1, N'Nguyễn Văn A', 1, CAST(N'2026-05-28' AS Date), N'123456', N'User')
INSERT [dbo].[NguoiThue] ([Id], [TenNguoiDung], [PhongSoHuu], [NgayNhanPhong], [MatKhau], [Role]) VALUES (2, N'Nguyễn Văn B', 2, CAST(N'2026-05-27' AS Date), N'123456', N'User')
INSERT [dbo].[NguoiThue] ([Id], [TenNguoiDung], [PhongSoHuu], [NgayNhanPhong], [MatKhau], [Role]) VALUES (3, N'Đặng Dương Thắng', 3, CAST(N'2026-05-29' AS Date), N'123456', N'Admin')
SET IDENTITY_INSERT [dbo].[NguoiThue] OFF
GO
INSERT [dbo].[PhongTro] ([Id], [TenPhong], [NguoiSoHuuId], [LuongNuoc], [LuongDien], [TienHangThang], [TienDatCoc], [TinhTrangDongTien]) VALUES (1, N'Phòng 1', 1, 20, 50, CAST(1650000 AS Decimal(18, 0)), CAST(500000 AS Decimal(18, 0)), 1)
INSERT [dbo].[PhongTro] ([Id], [TenPhong], [NguoiSoHuuId], [LuongNuoc], [LuongDien], [TienHangThang], [TienDatCoc], [TinhTrangDongTien]) VALUES (2, N'Phòng 2', 2, 0, 0, CAST(1650000 AS Decimal(18, 0)), CAST(500000 AS Decimal(18, 0)), 0)
INSERT [dbo].[PhongTro] ([Id], [TenPhong], [NguoiSoHuuId], [LuongNuoc], [LuongDien], [TienHangThang], [TienDatCoc], [TinhTrangDongTien]) VALUES (3, N'Phòng 3', 3, 0, 0, CAST(1650000 AS Decimal(18, 0)), CAST(500000 AS Decimal(18, 0)), 0)
GO
ALTER TABLE [dbo].[PhongTro] ADD  DEFAULT ((0)) FOR [LuongNuoc]
GO
ALTER TABLE [dbo].[PhongTro] ADD  DEFAULT ((0)) FOR [LuongDien]
GO
ALTER TABLE [dbo].[PhongTro] ADD  DEFAULT ((0)) FOR [TienHangThang]
GO
ALTER TABLE [dbo].[PhongTro] ADD  DEFAULT ((500000)) FOR [TienDatCoc]
GO
ALTER TABLE [dbo].[PhongTro] ADD  DEFAULT ((0)) FOR [TinhTrangDongTien]
GO
ALTER TABLE [dbo].[NguoiThue]  WITH CHECK ADD  CONSTRAINT [FK_NguoiThue_PhongTro] FOREIGN KEY([PhongSoHuu])
REFERENCES [dbo].[PhongTro] ([Id])
GO
ALTER TABLE [dbo].[NguoiThue] CHECK CONSTRAINT [FK_NguoiThue_PhongTro]
GO
ALTER TABLE [dbo].[PhongTro]  WITH CHECK ADD  CONSTRAINT [FK_PhongTro_NguoiThue] FOREIGN KEY([NguoiSoHuuId])
REFERENCES [dbo].[NguoiThue] ([Id])
GO
ALTER TABLE [dbo].[PhongTro] CHECK CONSTRAINT [FK_PhongTro_NguoiThue]
GO
